.o_bike_card_inner{
  display:flex;
  gap:12px;
  align-items:flex-start;
}

.o_bike_img{
  width:72px;
  height:72px;
  flex:0 0 72px;
}

.o_bike_img .o_field_image img{
  width:72px;
  height:72px;
  object-fit:cover;
  border-radius:8px;
}
