.o_bike_card_inner{
  display:flex;
  gap:12px;
  align-items:flex-start;
}

.o_bike_img{
  width:72px;
  height:72px;
  flex:0 0 72px;
}

.o_bike_img .o_field_image img{
  width:72px;
  height:72px;
  object-fit:cover;
  border-radius:8px;
}

/* Header + cellules */
.o_list_view .o_list_table thead th,
.o_list_view .o_list_table thead th * ,
.o_list_view .o_list_table tbody td {
  text-align: left !important;
}

/* Les titres cliquables (tri) */
.o_list_view .o_list_table thead th.o_column_sortable,
.o_list_view .o_list_table thead th.o_column_sortable > div,
.o_list_view .o_list_table thead th .o_column_sortable {
  text-align: left !important;
  justify-content: flex-start !important; /* si c'est en flex */
}

/* (optionnel) si le header est en flex */
.o_list_view .o_list_table thead th > div {
  justify-content: flex-start !important;
}
