<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <!-- MENU PRINCIPAL -->
    <menuitem
        id="menu_bike_shop_root"
        name="Bike Shop"
        sequence="10"
        web_icon="bike_manager,static/description/icon.png"
    />

    <!-- MENU CATALOGUE -->
    <menuitem
        id="menu_bike_shop_catalog"
        name="Catalogue"
        parent="menu_bike_shop_root"
        sequence="10"
    />

    <menuitem
        id="menu_bike_categories"
        name="Catégories"
        parent="menu_bike_shop_catalog"
        action="action_bike_category"
        sequence="10"
    />

    <menuitem
        id="menu_bike_models"
        name="Modèles de vélos"
        parent="menu_bike_shop_catalog"
        action="action_bike_model"
        sequence="20"
    />

    <menuitem
        id="menu_bike_products"
        name="Produits"
        parent="menu_bike_shop_catalog"
        action="action_bike_product"
        sequence="30"
    />

    <!-- MENU VENTES -->
    <menuitem
        id="menu_bike_shop_sales"
        name="Ventes"
        parent="menu_bike_shop_root"
        sequence="20"
    />

    <menuitem
        id="menu_bike_sale_orders"
        name="Commandes de vente"
        parent="menu_bike_shop_sales"
        action="action_bike_sale_order"
        sequence="10"
    />

    <!-- MENU CLIENTS -->
    <menuitem
        id="menu_bike_shop_customers"
        name="Clients"
        parent="menu_bike_shop_root"
        sequence="30"
    />

    <menuitem
        id="menu_bike_customers_details"
        name="Détails clients"
        parent="menu_bike_shop_customers"
        action="action_bike_customer_details"
        sequence="10"
    />

    <menuitem
        id="menu_bike_customers_stats"
        name="Statistiques clients"
        parent="menu_bike_shop_customers"
        action="action_bike_customer_stats"
        sequence="20"
    />

    <!-- MENU LOCATIONS -->
    <menuitem
        id="menu_bike_shop_rentals"
        name="Locations"
        parent="menu_bike_shop_root"
        sequence="40"
    />

    <menuitem
        id="menu_bike_rentals"
        name="Contrats de location"
        parent="menu_bike_shop_rentals"
        action="action_bike_rental"
        sequence="10"
    />

    <!-- MENU RAPPORTS -->
    <menuitem
        id="menu_bike_shop_reporting"
        name="Rapports"
        parent="menu_bike_shop_root"
        sequence="50"
    />

</odoo>
